#carrinhoDeCompras:empty::before {
    content: 'Nenhum item adicionado ao carrinho';
    padding: 13px;
    color: gray;
    font-size: 14px;
    align-items: center;
}

#Carrinho{
    justify-content: center;
    align-items: center;
}

#listaDeProdutos {
    width: 35%;
    height: 35%;

    margin: auto;
    
    
    text-align: center;
   
    display: grid;
    grid-template-columns: 50vh 50vh 50vh;
    gap: 65px;
}

.nav-link{
    cursor: pointer;
}

.navbar{
    background-color: azure;
}

#Carrinho{
    display: none;
}

body{
    background: url('Background.jpg');
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

#logovideo{
    width: 45%;
    height: 45%;
    display: none;
}

img{
    margin: 0%;
    padding: 0%;
    display: block;
    width: 45%;
    height: 45%;
}

#icon{
    
    margin-left: -15%;
    margin-top: -1%;
    padding: 0%;
}

.card{
   transition: .5s;
}

.card:hover{
    transform: scale(1.05);
}

li{
    transition: .5s;
}

li:hover{
    transform: scale(1.05);
}

.card-img-top{
    width: 300px;
    height: 300px;
}
